<div id="footer">
  <div class="footerImg"><img src="assets/img/Capa 2.svg" alt=""></div>
  <div class="footerSummary">
    <a onclick="openSection('sectionJoin360')" class="footer_category">
      <img src="/assets/img/footer/summary_icon.svg" alt="" />
      <span>Summary</span>
    </a>
  </div>
  <div class="footerBoard">
    <a onclick="openSection('sectionBoard'); updateBoardHTML()" class="footer_category">
      <img src="/assets/img/footer/board_icon.svg" alt="" />
      <span class="footer_board" >Board</span>
    </a>
  </div>
  <div class="footerTasks">
    <a onclick="openSection('sectionAddTasks')" class="footer_category">
      <img src="/assets/img/footer/add_tasks_icon.svg" alt="" />
      <span>Add Tasks</span>
    </a>
  </div>
  <div class="footerContacts">
    <a onclick="openSection('contact-view-desktop'); renderContactList();"
      class="footer_category">
      <img src="/assets/img/footer/contacts_icon.svg" alt="" />
      <span>Contacts</span>
    </a>
  </div>
  <div class="footer_links">
    <a class="footer_privacy" href="/components/templates/footer/privacy_policy.html">Privacy policy</a>
    <a class="footer_legal" href="/components/templates/footer/legal_notice.html">Legal notice</a>
  </div>
</div>