<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Join Add Task</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="/components/tasks/tasksMediaQuery.css" />
  <link rel="stylesheet" href="/components/tasks/tasks.css" />
  <link rel="stylesheet" href="/components/templates/header/header.css" />
  <link rel="stylesheet" href="/components/templates/footer/footer.css" />
  <script src="/script.js"></script>
  <script src="/components/tasks/tasks.js"></script>
  <script src="/services/utils.js"></script>
  <link rel="icon" href="/assets/img/favicon-join.png">
</head>

<body onload="includeHTML(); loadAssignableNames()">
  <div w3-include-html="/components/templates/header/header.html"></div>
  <div w3-include-html="/components/templates/footer/footer.html"></div>

  <h1 class="add_task_h1">Add Task</h1>

  <div id="add_task_form">

    <div class="form_categories">
      <span>Title<span class="add_task_required">*</span></span>
      <input class="add_task_inputs" id="task_title" required type="text" placeholder="Enter a title" />
      <span id="title_is_required" class="d-none">This field is required</span>
    </div>


    <div class="form_categories">
      <span>Description</span>
      <textarea class="add_task_inputs" name="" id="task_description" cols="30" rows="3"
        placeholder="Enter a Description"></textarea>
    </div>


    <div class="form_categories">
      <span>Prio</span>
      <div class="add_task_priorities">
        <button class="add_task_urgent_button add_task_input_button" id="urgent_button" onclick="urgentButton()">Urgent
          <img id="task_prio_img_urgent" src="/assets/img/addTask/prio_high.png" alt="">
        </button>
        <button class="add_task_medium_button add_task_input_button medium_button_active" id="medium_button" onclick="mediumButton()">Medium
          <img id="task_prio_img_medium" src="/assets/img/addTask/prio_medium.png" alt="">
        </button>
        <button class="add_task_low_button add_task_input_button" id="low_button" onclick="lowButton()">Low
          <img id="task_prio_img_low" src="/assets/img/addTask/prio_low.png" alt="">
        </button>
      </div>
    </div>


    <div class="form_categories">
      <span>Due date<span class="add_task_required">*</span></span>
      <input class="add_task_inputs" id="task_date" required type="date">
      <span id="date_is_required" class="d-none">This field is required</span>
    </div>


    <div class="form_categories_category">
      <span>Category<span class="add_task_required">*</span></span>
      <select required class="add_task_inputs" name="Category" id="task_category">
        <option value="" disabled selected hidden>Select task Category</option>
        <option value="Technical Task">Technical Task</option>
        <option value="User Story">User Story</option>
      </select>
      <span id="category_is_required" class="d-none">This field is required</span>
    </div>


    <div class="form_categories_assigned">
      <span>Assigned to</span>
      <input class="add_task_inputs" onclick="toggleSelect()" id="task_user" placeholder="Select contacts to assign">
      <div id="tasks_contacts_container" class="d-none">
        <ul id="assigned_user"></ul>
      </div>
      <div id="assigned_user_initials" ></div>
    </div>


    <div class="form_categories_subtask">
      <span>Subtasks</span>
      <div id="subtask_button_input" >
        <button class="add_task_inputs" id="task_subtask_button" onclick="transformSubtaskButton()" type="text"><span>Add new Subtask</span><img src="/assets/img/addTask/add_subtask.png" alt=""></button>
      </div>
      <ul id="new_subtask_list" style="list-style-type:disc"></ul>
    </div>
  </div>

    <div class="create_task_finish">
      <span><span class="add_task_required">*</span>This field is required</span>
      <button id="reset_task_button" value="Reset Task " onclick="resetTask()"><span>Clear</span><img src="/assets/img/addTask/delete.png" alt=""></button>
      <button id="create_task_button" value="Create Task " onclick="formValidation()"><span>Create Task</span><img src="/assets/img/addTask/check_icon.png" alt=""></button>
    </div>

  
  <dialog>
    <span>Task added to board</span>
    <img src="/assets/img/addTask/board_icon.png" alt="board icon">
  </dialog>
</body>

</html>