<section id="sectionJoin360">
    <div id="j36_mobileVersion">

        <div class="j36_headline">
            <h1>Join 360</h1>
            <div class="j36_underLine"></div>
            <p class="j36_slogan">Key Metrics at a Glance</p>
        </div>
        <div id="j36_tasksMenu">
            <div class="j36_ToDoPosition">

                <div class="j36_toDo" onclick="updateBoardHTML(); openSection('sectionBoard')">
                    <div class="j36_numberPosition">
                        <b id="j36_todo">1</b>
                        <p class="j36_todoText">To-Do</p>
                    </div>
                </div>
                <div class="j36_toDoDone" onclick="updateBoardHTML(); openSection('sectionBoard')">
                    <div class="j36_numberPosition">
                        <b id="j36_done">1</b>
                        <p class="j36_todoText">Done</p>
                    </div>
                </div>
            </div>


            <div class="j36_UrgentDeadline" onclick="updateBoardHTML(); openSection('sectionBoard')">
                <div id="j36_Urgent" class="j36_urgent">
                    <div class="j36_numberPosition">
                        <b>1</b>
                        <p class="j36_todoText">Urgent</p>
                    </div>
                    <div class="j36_partingLine"></div>
                    <div class="j36_Date">
                        <h2 class="j_36UserDate">October 16, 2022</h2>
                        <p class="j36_dateText">Upcoming Deadline</p>
                    </div>
                </div>

            </div>


            <div class="j36_TaskProgress">
                <div onclick="updateBoardHTML(); openSection('sectionBoard')" class="j36_AllTheTasks">
                    <b id="j36_board" class="j36_numberOfTasks">5</b>
                    <p>Task in Board</p>
                </div>
                <div onclick="updateBoardHTML(); openSection('sectionBoard')" class="j36_AllTheTasks">
                    <b id="j36_progress" class="j36_numberOfTasks">2</b>
                    <p>Task in Progress</p>
                </div>
                <div onclick="updateBoardHTML(); openSection('sectionBoard')" class="j36_AllTheTasks">
                    <b id="j36_feedback" class="j36_numberOfTasks">2</b>
                    <p>Awaiting Feedback</p>
                </div>

            </div>
        </div>
        <div class="j36_morning-Text">
            <h2 class="j36_morning">Good morning</h2>
            <h2 id="j36_person-Name" class="j36_person-Name">dear Guest</h2>
        </div>
    </div>
</section>