<div id="header">
    <span class="HeaderSlogan">Kanban Project Management Tool</span>
    <img src="/assets/img/header/join_header.png" alt="Join">
    <div class="header_user_container" id="header_user_container">
        <a href="/components/informations/informations.html"><img src="/assets/img/header/help.svg" alt="help"></a>
        <span onclick="toggleHeaderModal()" id="header_user_image">G</span>
    </div>

</div>

<dialog id="header_modal_container" class="visually-hidden">
    <div id="header_modal">
        <a href="/components/templates/header/legal_notice.html">Legal Notice</a>
        <a href="/components/templates/header/privacy_policy.html">Privacy Policy</a>
        <a href="/components/login/login.html">Log out</a>
    </div>
</dialog>