<div id="contact-view-desktop" class="visually-hidden">
    <section id="contact-view-desktop-section-left">
        <div id="contact-list-desktop-container">
            <!-- user contact list will be inserted here -->
        </div>
    </section>
    <section id="contact-view-desktop-section-right">
        <div id="contact-slogan-desktop">
            <div class="desktop-slogan-container">
                <b class="contacts-desktop-h2">Contacts</b>
                <div class="contacts-desktop-line"></div>
                <p class="contacts-desktop-slogan">Better with a team</p>
             </div>
        </div>
        <div id="contact-profil-desktop">
            <!-- contact profil view will be inserted here-->
        </div>
    </section>
</div>