
<div id="contact-options-modal" class="d-flex justify-content-center flex-column align-items-center">
    <div class="d-flex flex-column flex-start">
        <div class="d-flex flex-row justify-content-center g-8">
            <div class="symbol-frame">
                <img src="/assets/img/contacts/edit.svg" alt="Editieren">
            </div>
            <span class="fw-4 fs-1">Edit</span>
        </div>
        <div class="d-flex flex-row justify-content-center g-8">
            <div class="symbol-frame">
                <img src="/assets/img/contacts/delete.svg" alt="Löschen">
            </div>
            <span class="fw-4 fs-1">Delete</span>
        </div>
    </div>
</div>