<section class="d-flex flex-row justify-content-space-between flex-start px-16" id="contact-view-top-section">
    <div class="d-flex flex-column g-16" id="frame-207">
        <div class="d-flex flex-column g-8" id="frame-173">
            <span class="fw-7 fs-4 black">Contacts</span>
            <span class="fw-4 fs-2 black">Better with a team!</span>
        </div>
        <div class="bw-3 w-9 bc-lightblue" id="addcontact-top-text-Vector"></div>
    </div>
    
    <div id="contact-arrow-box">
        <img src="/assets/img/contacts/arrow-left-line.svg" alt="Arrow left">
    </div>
</section>
<section id="contact-view-middle-section" class="d-flex flex-column g-21 ms-16">
        <div class="d-flex flex-row base-line g-20">
            <div id="frame-105" class="user-color d-flex justify-content-center align-items-center">
                <span class="" id="contact-view-symbol-initials">TW</span>
            </div>
            <span id="frame-81">Anton Mayer</span>  
        </div>
        <span class="fs-2 fw-4">Contact Information</span>
        <div id="frame-101" class="d-flex flex-column space-evenly flex-start g-15">
            <span class="fw-7 fs-1">Email</span>
            <a class="contact-view-email" href="mailto:antom@gmail.com">antom@gmail.com</a>
            <span class="fw-7 fs-1">Phone</span>
            <span>+49 111 111 111</span>
        </div>
</section>
<section id="contact-view-bottom-section" class="d-flex flex-end grow-1 px-16">
    <div id="menu-contact-options">
        <img src="/assets/img/contacts/more_vert.svg" alt="Options">
    </div>
</section>
